# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
android/app/google-services.json
**/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Runner/GoogleService-Info.plist

# Secrets / generated Firebase config
lib/firebase_options.dart

# Misc
.DS_Store
*.log
